*.pth filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
oneformer/**/*.pth filter=lfs diff=lfs merge=lfs -text
oneformer/**/*.pkl filter=lfs diff=lfs merge=lfs -text
oneformer/**/*.bin filter=lfs diff=lfs merge=lfs -text
oneformer/** filter=lfs diff=lfs merge=lfs -text

# Detectron2 source code (track entire directory with LFS)
detectron2/** filter=lfs diff=lfs merge=lfs -text
