*.out
__pycache__/
*.pyc
*.pyo
*.pyd
slurm-*.out
output_*/
build/
dist/
*.egg-info/
.env
oneformer/modeling/pixel_decoder/ops/build/
oneformer/modeling/pixel_decoder/ops/dist/
oneformer/modeling/pixel_decoder/ops/*.egg-info/
environment.yml
